body
{
  font-family:sans-serif;
  background: -webkit-linear-gradient(to right, #FFE4C4, #DDA0DD);
  background: linear-gradient(to right, #FFE4C4, #DDA0DD);
  color:#0e1555;
}
form{
    width:35rem;
    margin: auto;
    color:#0e1555;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(14, 21, 85, 0.582);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 20px 25px;
}
a{
color: #0e1555;
}
button{
    background-color: #DDA0DD;
    color: #0e1555;
    padding: 14px 20px;
    border-radius: 5px;
    margin: 7px 0;
    width: 100%;
    font-size: 18px;
  }
button:hover {
    opacity: 0.6;
    cursor: pointer;
}
  @media screen and (max-width: 600px) {
    form{
      width: 25rem;
    }
  }

  @media screen and (max-width: 400px) {
    form{
      width: 20rem;
    }
  }